<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                {{ user.username }}
                <li><a href="{% url 'signup' %}">Signup</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Acount</th>
                </tr>
            </thead>
            {% for i in receipt_list.all %}
            <tbody>
                <tr>
                    <td>{{ i.vendor }}</td>
                    <td>{{ i.total }}</td>
                    <td>{{ i.tax }}</td>
                    <td>{{ i.date|date:"m/d/y" }}</td>
                    <td>{{ i.category.name }}</td>
                    <td>{{ i.account.name}}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </main>
</body>

</html>
